@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body{
  background-image: url('../assets/img/binary-code.png');
  color:rgb(230, 227, 227);
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

/* ---intro--- */
#intro {
  background-color:rgb(68, 73, 102);
  min-height: 100vh;
  margin-bottom: 0;
  padding: 1em;
  font-size: 1.2rem;
}

#intro h1 {
  font-size: 3rem;
}

#intro-normal-img {
  width: 25em;
  padding-bottom: 3em;
}

#intro-angry-img {
  display: none;
  width: 35em;
}

#intro-response-div {
  display:none;
  background-color:rgba(31, 31, 31, .8);
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
}

/* ---before title--- */
#before-title {
  display: none;
  background-color:rgba(31, 31, 31, .8);
  padding: 1em;
  margin-top: 30vh;
}

#before-title h1 {
  font-size: 5rem;
}

#before-title-btn {
  font-size: 2rem;
  border: none;
}

#before-title-btn:hover {
  cursor: pointer;
  background-color:rgb(0,60,121);
  color: white;
}

#before-title-text {
  display: none;
}

/* ---title screen--- */

#titlescreen {
  padding-top: 1vh;
  height: 99vh;
  box-sizing: border-box;
  display: none;
}

#titleFlexbox {
  display: flex;
  justify-content: space-evenly;
}

#title-img {
  height: 80vh;
}

#title-btn {
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding: .25em .5em;
  border-radius: .25em;
  color:rgb(11, 83, 83);
  margin: .5em .25em;
}

#title-btn:hover {
  background-color:rgba(31, 31, 31, .8);
  color:rgb(230, 227, 227);
  cursor: pointer;
}

#titleScreen h1 {
  font-size: 3rem;
  background-color: rgba(31, 31, 31, .8);
  width: 60%;
  margin: 0 auto;
  padding: .5em;
  border-radius: .25em;
}

#character-create-form {
  width: 40vw;
  margin-top: 1em;
  background-color: rgba(31, 31, 31, .8);
}

#titleScreen label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: .5em;
  margin-top: 30vh;
  border: none;
}

#titleScreen input {
  font-size: 1.5rem;
  border-radius: .5em;
}

/* ---overworld--- */

#gameDiv {
  display: none;
}

#gameDivFlexbox {
  position:relative;
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}
.over-world {
  position: relative;
}
canvas {
  position: absolute;
  left:0;
}
#map-background{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
}
.tile {
  border: black solid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.black {
  background-image: url('../assets/img/wall.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.void {
  background-color: rgb(0, 0, 0);
}
.white {
  background-image: url('../assets/img/floor.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.table {
  background-color: rgb(66, 51, 40);
}
.hole {
  background-image: url('../assets/img/trapdoor-open.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.door {
  background-image: url('../assets/img/door-unlocked.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.lockedDoor {
  background-image: url('../assets/img/door-locked.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.key {
  background-image: url('../assets/img/key.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.N {
  background-image: url('../assets/img/slide-up.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.E {
  background-image: url('../assets/img/slide-right.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.S {
  background-image: url('../assets/img/slide-down.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.W {
  background-image: url('../assets/img/slide-left.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.bug {
  background-image: url('../assets/img/Bug.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.typo {
  background-image: url('../assets/img/Typo.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.unknownError {
  background-image: url('../assets/img/Missing_Error.png');
  background-size: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

/* ---text-box--- */

#text-box {
  background-color: rgba(31, 31, 31, .8);
  width: 40vw;
  height: 66.5vh;
  border-radius: .5em;
  padding: 1em;
  overflow: auto;
}

/* battle-box */

#attack {
  display: none;
}

#guard {
  display: none;
}

#debug-code {
  display: none;
}

#battle-box button {
  border: none;
  border-radius: .5em;
  font-size: 1.3rem;
  padding: .5em 1em;
  margin: .5em;
}

#battle-btn-flex {
  display: flex;
  justify-content: space-around;
}