body{
  background-color: cyan;
}
.character-create{
  height: 10em;
  border: black solid 2px;
}
#gameDiv {
  display:none;
}

.story-action{
  display: none;
  height: 10em;
  border: black solid 2px;
}
.battle-action{
  display: none;
  height: 10em;
  border: black solid 2px;
}
.story-area{
  overflow-y: auto;
  height: 10em;
  border: black solid 2px;
}
canvas {
  position: absolute;
}
#map-background{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  box-sizing: border-box;
}
.tile {
  border: black solid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.black {
  background-color: rgb(104, 104, 104);
}
.void {
  background-color: rgb(0, 0, 0);
}
.white {
  background-color: rgb(149, 184, 144);
}
.table {
  background-color: rgb(66, 51, 40);
}
.door {
  background-color: white;
}